
@{
    ViewData["Title"] = "Confirmation";
}

@model WebApp_Assignment3.Models.SubmissionResponse

<div class="text-center">
    <h1>@Model.Title was successfully added!</h1>
</div>

<div class="text-center">
    <a asp-action="MovieList">View All Movies</a>
</div>
