@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="https://dl.boxcloud.com/api/2.0/internal_files/768677846232/versions/820198263432/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!conZ0GLNoHI5fUvhXSEQSlxJEgNcxgejup7-ObavxntxYCLDSTwdqNPTCCXSRB-OmY_9m6LffnUn6lbwd9sBXoxj84DXoo5Rgaz3Bh0OeH0XQMyLs2vtP3au__cZAYMlHn-QT2JLwLe77ydEIHSPUbqtCvq3_zHr48mTmGG_Ajha4csLyhVKWnELuP_0jj_jxo6xzAG4GhfPErIoPUyXZ22NCnesJu1tKTYDVPD5dyjPMqhuhLifMFIHs-0qjr5sZXK6dW4bQ16X-5vreWd9LLQJG1G9MVJzm_W8KQ9s6-UvzLsJeiUt8wnfNfvb-_ZVemiSjfpbpkAhHc583h8V7-pyV_W2jufloXKMOdxfGk23jFL95k1WfC0VkcaAMh7fdgPck_nHVcBbddLpn1eq-uR0BcYNbB3ATMfsRqq7l-0A1638YUBrRkO_RPBQr_vvN3fKh04o49O1D-qdkDFjXcK05UfzCS30QGwd4m1JkXKFRy0AdXGn2HF0QKsyUgIb1bDQ8FGRwtZpfmz3xjENlfUNwfzVwZ7Sgx0_djED_y-oQ8tE2YCV8PcyBO2Mwpwo5s4RWiLmRFUg04MY16ewyzw7KpFjr7mq6sir0lkHSQchneDp-U6wdNd4L8J1bvTWbkCAfwybWCtVpYPQs0ZmW4z17awqCix6ziuTmIY00WCBr609hRtRudr8UyRUsHII7RtInYCesJ8j4L2lchjxkN-nzrsrIOnbjGJA58Uf6QTBFUvRhw..&shared_link=https%3A%2F%2Fbyu.app.box.com%2Fs%2Fp1d6uozvh4b8a5knyfo1dwzhhrp4mhd7&box_client_name=box-content-preview&box_client_version=2.63.1" alt="The mastermind himself" />
</div>
