@{
    ViewData["Title"] = "Podcast";
}

<h1><em>Podcast</em></h1>

<div class="text-center">
    <h1 class="display-4">Join us at our Podcast!</h1>
    <a href="https://baconsale.com/">Baconsale</a>
    <p>This is a place where you can hear honest reviews and discussions on movies from all ages.</p>
</div>