@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We were hoping you wouldn't come to this boring page. Full disclosure, we have zero measures of privacy. Don't like it? You'll have to leave.</p>
